*{
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body{
    background-color: #fa9e7f38 !important;
}
.div-card-p{
    width: 200px !important;
}

.btn-p-delete{
    width: 28px;
    height: 28px;
    padding: 0px;
}
.btn-p{
    background-color: #EA7C4B !important;
    color: aliceblue;
}
.btn-pro-p{
    background-color: #EA7C4B;
    width: 6rem;
    height: 4.5rem;
    color: aliceblue;
    font-size: 15px;
    margin: 3px;
}

.div-product-order{
    height: 15rem;
    width: auto !important;
    word-wrap: break-word;
    border-radius: 2px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: rgb(243, 223, 223);
}

.section-order-mana{
    overflow: scroll;
    height: 15rem;
    width: auto;
    border-radius: 2px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: rgb(243, 223, 223);
}
.section-btn-pe{
    height: 295px;
}

.p-1{
    width: 80px;
    height: 50px;
    font-size: larger;
}
.btn-1{
    width: 80px;
    height: 50px;
}
.btn-2{
    width: 100px;
    height: 50px;
}
.btns-section{
    padding: 0;
}

.div-btn-inter{
    margin-top: 10px;
}
.div-btn-inter button{
    width: 80px;
    height: 50px;
}



/*estilos productos*/
.div-content-btn-search{
    height: 40px;
}
.btn-addPro{
    margin-left: 10px;
}
.inputFormSearch{
    width: 18rem;
}
.intsearc{
    margin-left:auto;
    margin-right:auto;
    display:block;
    width:20%;
}
.div-content-btn-search{
    margin: auto;
}

.div-table-search{
    font-size: 5px;
}


/*estilos calculadora pedido*/

.output{
    width: 100%;
}
.operand{
    display: flex;
    background-color: #757271;
    width: 100%;
    height: 40px;
    border-radius: 3px;
}
.btn-cal{
    height: 60px;
    width: 65px;
    font-size: large;
}
.btn-cal2{
    height: 60px;
    width: 95px;
    font-size: large;
}


.div-comand{
    background-color: #EA7C4B;
    width: 6rem;
    height: 4.5rem;
    color: aliceblue;
    font-size: 15px;
    margin: 3px;
}

/*style="width: 100px; height: 90px; background-color: beige; border-radius: 3px; margin: 3px;"*/


@media (max-width:623px){
    .btn-addPro{
        height: 38px;
        width: 110px;
        padding: 5%;
        font-size: smaller;
    }
}
@media (max-width:599px){
    .div-content-btn-search{
        height: 90px !important;
    }
    .btn-addPro{
        height: 38px;
        width: 149px;
        padding: 0;
        font-size: smaller;
    }
}
@media (max-width:430px){
    .inputFormSearch{
        width: 80%;
        margin-left: auto !important;
    }
}
@media (max-width:350px){
    .inputFormSearch{
        width: 100%;
        margin-left: 20px !important;
    }
}


@media (max-width:992px){
    .p-1{
        width: 30px !important;
        height: 30px !important;
        font-size: smaller;
    }
    .btn-2, .btn-1{
        width: 60px !important;
        height: 30px !important;
        font-size: smaller;
    }
}
@media (max-width:315px){
    img{
        width: 145px;
        height: 60px;
    }
}

